@media only screen {
    // for broswers that don't support svg
    html.no-svg{
        div.masthead a{
            // masthead-helmet-white.png
            background:url('http://www.anr.msu.edu/contentAsset/raw-data/005b07f5-c0b0-4dcc-bf50-af79120ab2f9/fileAsset?byInode=true') no-repeat center center;
            width: 298px;
            height: 34px;
            display: inline-block;
        }
        .masthead form input[type=submit] {
            // icon-search.png
            background: url("http://www.anr.msu.edu/contentAsset/raw-data/0e7e7767-56db-459b-ba1a-097a8e2ab74c/fileAsset?byInode=true") no-repeat scroll center center #FFFFFF;
        }
    }
     // svg color styles
    #msu-masthead-icon path{
        fill:#fff;
    }
    #menu-icon rect{
        fill:#fff;
    }
    #menu-icon g rect,
    #menu-icon path{
        fill:$green;
    }
    #inner-wrap.home header{
        @media only screen and (min-width:40.063em){
            background:$lt-green url('/includes/TG-Banner.jpg') center center no-repeat;
        }
    }
    header{
        @media only screen and (min-width:64.063em){
            background:$lt-green url('/includes/TG-Banner.jpg') center center no-repeat;
        }
        background-color:$lt-green;
        color:#fff;
    }
    .masthead {
        height:2.125em;
        margin-top:1em;
        div.logo{
            @media only screen and (min-width:40.063em){
                float: left;    
                width: 48%;
            }
        }
        a{
            display: block;
            position: relative;
            height: 2.125em;
            max-width: 18.75em;
            .masthead{
                width: 100%;
                height: 100%;
                margin: 0;
            }
        }
    }
    .title-row {
	   padding-top:2.5em;
        h1{
            a{
                color: #fff;
                text-decoration: none;
            }
            a:hover,
            a:focus{
                text-decoration: underline;
            }
        }
    }
    .banner{
        p{
            line-height:1.2;
            text-align:center;
            @media only screen and (min-width:64.063em){
                text-align:left;
            }
        }
        a.button{
            display:block;
            color:$green;
            background-color:$lt-gray;
            padding:.5em 2.5em;
            margin:1em .75em;
            @include border-radius(.3125em);
            text-decoration:none;
            @media only screen and (min-width:50em){
                display:inline-block;
                margin:.25em .75em;
            }
            &:hover,
            &:focus{
                text-decoration:underline;
            }
        }
    }
    #networkElement,
    #cse-search-box{
        display:none;
    }
    
}
@media only screen and (min-width: 64.063em) {
    #cse-search-box,
    #networkElement,
    .masthead form {
        display:block;
    }
    .masthead-row {
        position:relative;
        padding-bottom:0;
    }
    .title-row {
        padding-top:0;
    }
    div#search-medium {
        display:inline;
    }
    .masthead form { 
        float:right; 
        background: none repeat scroll 0 0 #FFFFFF;
        border: .0625em solid #999999;
        @include border-radius(.1875em);
        height: 1.75em;
        margin-bottom: .75em;
        width: 18.75em;
        overflow:hidden;
    }
    .masthead form input[type=text] { 
        border:none;
        color:#000;
        width:16em;
        padding-left:.25em;
        margin-top: .125em;
    }
    .masthead form input[type=submit] {
        // icon-search.svg
        background: url("http://www.anr.msu.edu/contentAsset/raw-data/1ed718dc-d1a8-4133-b025-842c39797a3e/fileAsset?byInode=true") no-repeat scroll center center #FFFFFF;
        border: 0 none;
        @include border-radius( 0 .1875em .1875em 0);
        cursor: pointer;
        float: right;
        height: 1.75em;
        margin: 0 auto;
        outline: 0 none;
        text-indent: -9999px;
        text-transform: capitalize;
        width: 2.125em;
    }
}