@media print {
    #mobile-nav,
    .top-links,
    #nav-button,
    #networkElement,
    #search-medium,
    header,
    #nav-medium,
    .banner-home,
    .featured-home,
    #social,
    footer,
    #standard-footer-site-links {
        display:none;
    }
    a { 
        color:#186B9B;
    }
    a:after {
        content: " (" attr(href) ")";
        font-size: 80%; 
    }
    ul.products {
        list-style:none;
    }
    ul.products li {
        overflow:auto;
    }
    ul.products img {
        float:left;
        margin:0 .5em .5em 0;
    }
}