/*
// shared/sitewide/css/sitewide.css
@import "http://www.anr.msu.edu/contentAsset/raw-data/633acb94-1581-4a5b-b70f-55001d5f594a/fileAsset?byInode=true";
// shared/sitewide/css/normalize.css
@import "http://www.anr.msu.edu/contentAsset/raw-data/22d2249d-5b12-4242-9c75-b1b7d8335406/fileAsset?byInode=true";
// shared/sitewide/css/foundation.css
@import "http://www.anr.msu.edu/contentAsset/raw-data/5dc70ee0-d9ce-4a80-a7a4-a3244b87a660/fileAsset?byInode=true";
// shared/sitewide/css/tables-responsive.css
@import "http://www.anr.msu.edu/contentAsset/raw-data/dabd13d2-7f83-4fe2-b3c7-90f93e83fd33/fileAsset?byInode=true";
// shared/anr_bar/scss/styles.css
@import "http://www.anr.msu.edu/contentAsset/raw-data/279be22f-18d1-48a5-a7c5-fa9cb77fb0fc/fileAsset?byInode=true";
*/
@import "D:\css\sitewide\sass\sitewide";
@import "D:\css\sitewide\sass\normalize";
@import "D:\css\sitewide\sass\foundation";
@import "D:\anr_bar\scss\styles"; 
@import "mixins";
@import "variables";
@import "header";
@import "nav-medium";
@import "footer";
@import "mobile-nav";

svg{
    margin: 0;
    text{
        visibility: hidden;
        height: 0;
        width: 0;
    }
}
@media only screen {
    body {
        line-height: 1em;
    }
    h2.landmark {
        position: absolute;
        top:-3333em;
        left: -3333em;
    }
    body {
        color: $gray;
        line-height: 1;
        background-color:#3f474d;
    }
    #outer-wrap {
        width:100%;
        height:100%;
        float:left;
    }
    #inner-wrap{
        background-color:#fff;
    }
    article#content{
        h1{
            font:900 1.375em "proxima-nova", sans-serif;
            text-transform:uppercase;
            margin:1em 0;
            color:$dk-green;
        }
        h2{
            font:900 1.1875em "proxima-nova", sans-serif;
            line-height: 1.1875;
            margin:1em 0;
            a{
                text-decoration: none;
            }
            a:focus,
            a:hover{
                text-decoration: underline;
            }
        }
        h3 {
            font:800 1.0625em "proxima-nova", sans-serif;
            margin:1em 0;
        }
        h4 { 
            font:700 .9375em "proxima-nova", sans-serif;
            margin:1em 0;
        }
        h5 {
            font:500 .8125em "proxima-nova", sans-serif;
            margin:1em 0;
        } 
        h6{
            font:700 .75em "proxima-nova", sans-serif;
            color:#000;
            margin:1em 0;
        }
        a{
            color: #18453b;
        }
        a:hover,
        a:focus{ 
            text-decoration: none;
        }
        p {
            margin: 1em 0;
            line-height: 1.4;
            &.register a{
                background-color:$green;
                color:#fff;
                @include border-radius(.25em);
                padding:.25em 1em;
                display:inline-block;
            }
        }
        li{
            margin: .5em 0;
            line-height: 1.4;
        }
        blockquote{
            margin: 1em;
            line-height: 1.4;
        }
        ul.events-list,
        ul.programs-list,
        ul.news-list{
            margin:0;
            padding:0;
            list-style:none;
            li{
                border-top:1px solid $gray;
                overflow:auto;
                &:first-child{
                    border-top:none;
                }
                p{
                    margin:.5em 0;
                }
                h3{
                    margin: .5em 0;
                }
                img{
                    float:left;
                    margin:1em 1em 1em 0;
                }
            }
        }
        .widgets{
            h2{
                background-color:$green;
                color:#fff;
                @include border-radius(.25em);
                padding:.25em;
                margin:.875em -.9375em 0 -.9375em;
                padding:.25em .9375em;
                a{
                    color:#fff;
                }
            }
        }
        // photo gallery
        ul.image-gallery{
            list-style:none;
            padding:0;
            li{
                display:inline-block;
                margin:1em;
            }
        }
        // news
        div.news-image{
            float:right;
            margin:0 0 1em 1em;
        }
        ul.paginate,
        ul.pagination{
            padding: 0;
            margin: 0;
            list-style: none;
            text-align: center;
            li{
                display: inline-block;
                padding: .5em 1em;
                a{

                }
                &.active{
                    a{
                        color:#000;
                        text-decoration:none;
                    }
                }
            }
            li:first-child{
                padding-left: 0;
            }
            li:last-child{
                padding-right: 0;
            }
        }
    }
}
@import "print";